.farmers_page{
    height: 100%;
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    font-size: 1.5rem;
    flex-direction: row;
    justify-content: flex-start;
}

.farmers_navigate{
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.links_farmersdata{
    width: 100%;
    height: 5rem;
    text-align: center;
    margin: 2rem 0;
    font-size: 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all .2s ease;
}

.links_farmersdata:hover{
    font-size: 1.45rem;
}

.farmers_data{
    height: 100%;
    min-height: 90vh;
    width: 80%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.inwardData{
    flex: 1;
    border-right: 1px black solid;
    min-height: 90vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.outwardData{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 90vh;
}

.farmersdata_container{
    width: 80%;
    height: 90%;
    overflow: auto;
    margin: 1rem;
    padding: 1rem;
}

.farmerdata_items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.goback_btn{
    position: absolute;
    top: 0;
    left: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 10px;
    width: 10rem;
    text-decoration: none;
    text-align: center;
}

.data_container{
    width: 100%;
    min-height: 87vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.goback_btn:hover{
    background-color: rgb(197, 183, 183);
    cursor: pointer;
}


.stall_container{
    background-color: rgba(255, 217, 0, 0.857);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spin{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
  }
  
  .spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%,#474bff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-zp9dbg 1s infinite linear;
    align-self: center;
    mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  }

@media (max-width: 798px) {

    .inwardData{
        border-right: none;
        border-bottom: 1px black solid;
    }

    .farmers_data{
        flex-direction: column;
        width: 100%;
        height: 40%;
        justify-content: flex-start;
        align-items: center;
    }

    .farmers_page{
        flex-direction: column;
        justify-content: flex-start;
    }

    .farmers_navigate{
        height: 14%;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        font-size: 0.8rem;
    }

    .goback_btn{
        left: 0;
        width: 6rem;
        font-size: 1rem;
        top: 0;
        margin: 0;
        padding: 0;
    }

    .links_farmersdata{
        margin-top: 6rem;
    }

}