.Box{
    bottom: 0;
    min-height: 50vh;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    width: 99vw;
    background-color: rgb(228, 220, 220);
    clip-path: polygon(0% 21.57%, 1% 21.55%, 2% 21.51%, 3% 21.44%, 4% 21.34%, 5% 21.22%, 6% 21.07%, 7% 20.89%, 8% 20.69%, 9% 20.47%, 10% 20.22%, 11% 19.96%, 12% 19.67%, 13% 19.37%, 14% 19.06%, 15% 18.73%, 16% 18.39%, 17% 18.05%, 18% 17.69%, 19% 17.34%, 20% 16.98%, 21% 16.62%, 22% 16.26%, 23% 15.90%, 24% 15.56%, 25% 15.22%, 26% 14.90%, 27% 14.58%, 28% 14.28%, 29% 14.00%, 30% 13.74%, 31% 13.50%, 32% 13.27%, 33% 13.08%, 34% 12.90%, 35% 12.75%, 36% 12.63%, 37% 12.54%, 38% 12.47%, 39% 12.43%, 40% 12.42%, 41% 12.44%, 42% 12.48%, 43% 12.55%, 44% 12.65%, 45% 12.78%, 46% 12.94%, 47% 13.12%, 48% 13.32%, 49% 13.54%, 50% 13.79%, 51% 14.06%, 52% 14.34%, 53% 14.64%, 54% 14.96%, 55% 15.29%, 56% 15.63%, 57% 15.98%, 58% 16.33%, 59% 16.69%, 60% 17.05%, 61% 17.41%, 62% 17.77%, 63% 18.12%, 64% 18.46%, 65% 18.80%, 66% 19.12%, 67% 19.44%, 68% 19.73%, 69% 20.01%, 70% 20.27%, 71% 20.51%, 72% 20.73%, 73% 20.93%, 74% 21.10%, 75% 21.25%, 76% 21.37%, 77% 21.46%, 78% 21.52%, 79% 21.56%, 80% 21.57%, 81% 21.55%, 82% 21.50%, 83% 21.42%, 84% 21.32%, 85% 21.19%, 86% 21.03%, 87% 20.85%, 88% 20.65%, 89% 20.42%, 90% 20.17%, 91% 19.90%, 92% 19.61%, 93% 19.31%, 94% 18.99%, 95% 18.66%, 96% 18.32%, 97% 17.97%, 98% 17.62%, 99% 17.26%, 100% 16.90%, 100% 100% , 0 100%);
}

.Container{
    display: flex;
	flex-direction: column;
	min-width: 300px;
}

.Column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit,
                            minmax(200px, 1fr));
    /* grid-gap: 10px; */
    justify-content: space-around;
    padding: 0 2rem;
}

.FooterLink{
    color: black;
    /* margin-bottom: 20px; */
    font-size: 15px;
    text-decoration: none;
    align-self: center;
}

.FooterLink:hover{
    color: voilet;
	transition: 200ms ease-in;
}

.Heading{
    font-size: 24px;
    color: black;;
    margin-bottom: 40px;
    font-weight: bold;
    margin-top:10px;
}

@media (max-width: 1000px) {
	.Box{
        text-align: center;
        padding-top:200px ;
    }

    .row{
        grid-template-columns: repeat(auto-fill,
						minmax(300px, 1fr));
    }
}

/* new footer */
