  .image {
    height: 20pc;
    width: 100%;
    border-radius: 10px;
  }
  
  .image.image1 {
    background: url("https://wingrow.herokuapp.com/images/3.jpg");
    background-size: cover;
  }
  .image.image2 {
    background: url("https://wingrow.herokuapp.com/images/4.jpg");
    background-size: cover;
  }
  .image.image3 {
    background: url("https://wingrow.herokuapp.com/images/5.jpg");
    background-size: cover;
  }
  .image.image4 {
    background: url("https://wingrow.herokuapp.com/images/6.jpg");
    background-size: cover;
  }
  .image.image5 {
    background: url("https://wingrow.herokuapp.com/images/7.jpg");
    background-size: cover;
  }
  .image.image6 {
    background: url("https://wingrow.herokuapp.com/images/img.jpg");
    background-size: cover;
  }
  