@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 75%;
  min-width: 350px;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

.Main_wrapper{
  display: flex; 
  flex-direction: column; 
  flex: 1 1 auto; 
  max-width: 100%; 
  overflow-x: hidden;
}

.main_wrapper_component{
  display: flex; 
  flex-direction: column; 
  width: 100%; 
  min-height: 100vh; 
}

/* 
 
/* navbar style start  */

.main-nav {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  height: 13vh;
  font-size: 1.1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 2rem 1fr 3fr 1rem 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main_container{
  width: 100%;
  height: 87vh;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  position: relative;
}

.authContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 80vh;
  width: 100%;
}

.authbox{
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login_image{
  margin: 0 2rem;
}

.login_details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.logo_img_navbar{
  width: 180px;
  height: 60px;
  display: inline-block;
}

.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: flex-start;
  align-items: center;
}

.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile_logo{
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.profile_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.medialinks {
  margin: 0 2rem;
  padding: 1rem;
  text-align: center;
}

.social-media {
  grid-column: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------- Grid part ends ----------------- */

.logo h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo h2 span {
  font-size: 3.5rem;
}

.menu-link ul li {
  font-size: 1.2rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  transition: 0.2s;
  padding: 0.2xrem;
  border-radius: 10px;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  text-decoration: underline;
  transition: 0.2s;
  text-decoration: none;
  color: gray;
}

.social-media ul li {
  font-size: 1.6rem;
}

.social-media .hamburger-menu {
  display: none;
}

/*   register page   */

.register{
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
}


/* T&C */

.terms_and_conditions{
  display: flex;
  overflow: auto;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

}

.filtersmodal{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.authContainer_register{
  width: 90vw;
  min-height:80vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: auto;
}

.register_details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
  padding: 2rem;
}

.ReactTags__tag {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  width: 120px;
  margin: 0.5rem;
}

.ReactTags__tagInputField{
  padding: 0.5rem;
  width: 100%;
}

.ReactTags__selected{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  
}


@media (min-width: 1080px) {
  .menu-link ul li {
    width: 11vw;
  }
}

@media (max-width: 1200px) {
  .authContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 80vh;
    width: 100%;
  }

  .register_details{
    width: 100%;
  }

  .authbox{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-shadow: none;
  }
  
  .login_image{
    margin: 0 2rem;
    width: 30vw;
  }
  
.login_details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 4rem;
  box-shadow: none;
}
}

/* responsive css style  */
@media (max-width: 1080px) {
  html {
    font-size: 70%;
  }
  .main-nav {
    grid-template-columns: 2rem 3fr 3fr 1rem;
  }
  .main_container{
    height: 90vh;
  }

  .logo,
  .menu-link ul,
  .social-media ul {
    height: 8rem;
  }
}

/* responsive css style  */
@media (max-width: 998px) {

  .profile_wrapper{
    width: 80vw;
  }
  html {
    font-size: 68%;
  }
  .main-nav {
    height: 10vh;
    grid-template-columns: 0.5rem 2fr 3fr 2rem 0.5rem;
  }

  .main_container{
    height: 90vh;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 7rem;
  }

  .mobile-menu-link {
    grid-column: 2/4;
  }

  .medialinks{
    margin: 1rem;
    width: 80%;
  }

  .mobile-menu-link {
    background-color: white;
    position: fixed;
    top: 12vh;
    z-index: 99;
    height: fit-content;
    width: 100%;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
    margin-right: 20px;
    margin-top: 10px;
  }
}

@media (max-width: 798px) {
  html {
    font-size: 65%;
  }
  .main-nav {
    height: 12vh;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .main_container{
    height: 92vh;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
  .authbox{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-shadow: none;
  }
  
  .login_image{
    margin: 0 2rem;
    width: 60vw;
  }
  
.login_details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 4rem;
  box-shadow: none;
}
}

@media (max-width: 520px) {
  .main-nav {
    height: 12vh;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .main_container{
    height: 92vh;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
  .authbox{
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-shadow: none;
  }
  
  .login_image{
    margin: 0 2rem;
    width: 80vw;
  }
  
.login_details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-shadow: none;
  margin-top: 2rem;
}
}

