
  .Test{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    width: 100%;
  }

  .main_container_stalls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem 0;
    overflow-x: hidden;
  }

  .StallsContainer{
    height: 320px;
    min-width: 300px;
    max-width: 1080px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px black solid;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .stall_wrapper{
    width: 100vw;
  }

  .Stalls_info{
   width: 2000px;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
  }
  
  .booked{
    background-color: rgb(176, 170, 170);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 100px;
    height: 50px;
    margin: 10px;
    cursor: not-allowed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
  }
  
  .available{
    background-color: rgb(171, 213, 166);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 100px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
  }
  
  .selected{
    background-color: yellow;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 100px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
  }
  
  .seatsinput{
    width: 200px;
    margin: auto;
    text-align: center;
  }

  .select_market{
      width: 100%;
      min-height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  @keyframes spinner-zp9dbg {
    to {
       transform: rotate(1turn);
    }
  }

  @media (max-width: 900px) {
    .main_container_stalls{
        align-items: flex-start;
    }
  }