.invoice-box{
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    font-size: 1rem;
    line-height: 24px;
    font-family: Arial, sans-serif;
    font-weight:normal;
    width: 60%;
    height: 80%;
    margin: 2rem auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.invoice_details{
    font-size: 1.3rem;
}

.thanks{
    text-align: center;
}